<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460038365086-20m0ifbrofgapqf2vg48v6cs4pbqu18b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460038365086-20m0ifbrofgapqf2vg48v6cs4pbqu18b</string>
	<key>API_KEY</key>
	<string>AIzaSyB8VviqEO8AVlNiHznYLZr7YhHecOFQJrw</string>
	<key>GCM_SENDER_ID</key>
	<string>460038365086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kambehayato.Seitansai2021</string>
	<key>PROJECT_ID</key>
	<string>seitansai2021-e7375</string>
	<key>STORAGE_BUCKET</key>
	<string>seitansai2021-e7375.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460038365086:ios:4391bb047c824cfa39808f</string>
</dict>
</plist>